.sidebar {
    position: absolute;
    background: rgba(0, 50, 40, 0.1);
    top: 0px;
    margin-left: 85%;
    padding: 10px;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

.wrapper {
    position: absolute;
    top: 200px;
    font-size: 15px;
    font-family: Arial;
    display: table;
}

.wrapper h3 {
    font-family: "French Script MT";
    font-size: 40px;
}

#design-selection h3 {
    margin-top: 5px;
}

.design-name {
    font-family: "Times New Roman";
}

.design-name::after {
    content: "\a";
    white-space: pre;
}

.designer-name {
    font-family: Broadway;
}
body {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    position: relative;
}



[role=banner] {
    top: 0px;
    width: 100%;
    background-color: rgba(102, 255, 74, 0.3);
}


#zen-intro h1 {
    font-family: "Times New Roman";
    font-size: 6vw;
    margin-top: 0px;
    margin-left: 200px;
    margin-bottom: 0px;

}

#zen-intro h2 {
    font-family: "Agency FB";
    margin-top: -20px;
    margin-left: 250px;
}

#zen-summary p {
    font-weight: bold;
}

[role=article] {
    margin-left: 5px;
    margin-right: 15%;
}


footer {
    text-align: center;
    position: fixed;
    bottom: 0px;
    height: 30px;
    bottom: 0px;
    margin-top: 20px;
    width: 100%;
    background-color: darkviolet;
}

footer a {
    color: gold;
    font-size: 20px;
    margin-left: 4px;
    margin-right: 4px;
}

p {
    font-family: "Times New Roman";
}

#zen-summary {
    text-align: center;
    color: brown;
    font-size: 1vw;
}

h3 {
    font-size: 1vw;
    font-weight: bold;
    color: darkviolet;
    margin-top: 0px;
}

#zen-participation, #zen-benefits, #zen-requirements p {
    font-size: 0.5vw;
}

#zen-preamble p{
    color: coral;
    text-align: center;
}

#zen-preamble h3{
    text-align: center;
}