@font-face {
    font-family: 'Optimus Princeps';
    src: url("OptimusPrinceps.ttf") format('truetype');
}

@font-face {
    font-family: "Optimus Princeps Semi Bold";
    src: url('OptimusPrincepsSemiBold.ttf') format('truetype')
}
.supporting {
    float: left;
    margin: 50px;
    height: 100%;
}

body {
    background: url('dark-souls-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

abbr {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

footer {
    position: fixed;
    bottom: 10px;
    right: 30%;
}

.zen-validate-html {
    background: rgba(255, 255, 255, 1);
    clip-path: circle(50% at 50% 50%);
    text-align: center;
    content: url("html.png");
    width: 50px;
    height: 50px;
}

.zen-validate-css {
    background: rgba(255, 255, 255, 1);
    clip-path: circle(50% at 50% 50%);
    text-align: center;
    content: url("css.png");
    width: 50px;
    height: 50px;
}

.zen-license {
    background: rgba(255, 255, 255, 1);
    clip-path: circle(50% at 50% 50%);
    text-align: center;
    content: url("cc.png");
    width: 50px;
    height: 50px;
}

.zen-accessibility {
    background: rgba(255, 255, 255, 1);
    clip-path: circle(50% at 50% 50%);
    text-align: center;
    content: url("faq.png");
    width: 50px;
    height: 50px;
}

.zen-github {
    background: rgba(255, 255, 255, 1);
    clip-path: circle(50% at 50% 50%);
    text-align: center;
    content: url("github.svg");
    width: 50px;
    height: 50px;
}

#zen-summary, #zen-preamble {
    margin-left: 10px;
    width: 550px;
    color: white;
    font-family: "Optimus Princeps", serif;
    background-color: rgba(0, 0, 0, 0.5);
}

#zen-summary {
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
}

#zen-preamble {
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
}

.intro h1, h2 {
    font-family: "Optimus Princeps", serif;
    color: white;
    text-shadow: 0px -2px 4px #fff, 0px -2px 10px #FF3, 0px -10px 20px #F90, 0px -20px 40px #C33;
}

.intro h2 {
    margin-top: 5px;
    margin-left: 150px;
    margin-bottom: 150px;
}

.intro h1 {
    margin-bottom: 5px;
}

.supporting {
    margin-top: 100px;
    margin-left: 10px;
    width: 550px;
    color: white;
    font-family: "Optimus Princeps", serif;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 10px;
}

#zen-participation a, #zen-requirements a, #zen-summary a {
    color: red;
}

.wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 25% 97%, 18% 94%, 10% 92%, 10% 8%, 18% 6%, 25% 3% );
    position: absolute;
    top: 20px;
    left: 75%;
    width: 300px;
    height: 630px;
}

.design-name::after {
    content: "\a";
    white-space: pre;
}

#design-selection {
    top: 30px;
}

#design-archives {
    top: 360px;
}

#zen-resources {
    top: 450px;
}

#design-selection, #design-archives, #zen-resources {
    position: absolute;
    left: 50px;
    text-align: left;
}

#design-selection, #design-archives, #zen-resources {
    font-size: 12px;
    font-family: "Optimus Princeps", serif;
    color: white;
}

#design-selection a, #design-archives a, #zen-resources a {
    font-size: 16px;
    font-family: "Optimus Princeps", serif;
    color: springgreen;

}

#design-selection, #design-archives, #zen-resources h3 {
    font-size: 15px;
    font-family: "Optimus Princeps", serif;
    color: white;
}


@media screen and (width: 2560px) {
    .supporting {
        width: 50%;
    }
    h1 {
        font-size: 100px;
    }
}

@media screen and (width: 1366px) {
    .supporting {
    }
    h1 {
        font-size: 60px;
    }
}